body{
  background-color: #f7f7f7;
}

h2 {
  text-align: center;
  color: #d9bf77;
}

h3 {
  text-align: center;
  color: #9c5518;
}

table.center {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th {
  color: #d7385e;
  border: 1px solid #9dc6a7;
  padding: 25px;
}

td {
  color: #687466;
  border: 1px solid #9dc6a7;
  padding: 25px;
}
