/***********************************TAG SELECTOR*******************************/
body{
  background-color: #f7f7f7;
}

h1,h2 {
  text-align: center;
  color: #d9bf77;
}

h3 {
  text-align: center;
  color: #9c5518;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th {
  color: #d7385e;
  border: 1px solid #9dc6a7;
  padding: 25px;
}

td {
  color: #687466;
  border: 1px solid #9dc6a7;
  padding: 25px;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  color: #af0404;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 55.0%;
  color: #06623b;
  margin: 50px auto 20px;
}

/***********************************CLASS SELECTOR*******************************/

.git{
  color: #687466;
  text-align: center;
}

.git ul{
  display: inline-table;
  margin: 0;
  padding: 0;
}

.git li{
  padding: 10px 10px;
}
