/***********************************TAG SELECTOR*******************************/
body{
  background-color: #f7f7f7;
}

h1,h2 {
  text-align: center;
  color: #d9bf77;
}

h3 {
  text-align: center;
  color: #9c5518;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th {
  color: #d7385e;
  border: 1px solid #9dc6a7;
  padding: 25px;
}

td {
  color: #687466;
  border: 1px solid #9dc6a7;
  padding: 25px;
}

a{
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 220px;
  margin: auto;
}

a:hover{
  color: #af0404;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 15.5%;
  color: #649d66;
  margin: 50px auto 20px;
}

/***********************************CLASS SELECTOR*******************************/

.gitCommand{
  color: #687466;
  text-align: center;
}

.gitCommand ul{
  display: inline-table;
  margin: 0;
  padding: 0;
}

.gitCommand li{
  padding: 10px 10px;
}

.content{
  color: #687466;
}

.content a{
  color: #687466;
}

.content ul{
  display: inline-table;
  margin: 0;
}

.content li{
  padding: 10px 10px;
}

.content h3{
  text-align: left;
}

.feedback textarea{
  background-color: #ffffdd;
}

.feedback input{
  background-color: #ffffdd;
}

#btn{
  background-color: #0779e4;
}
